@import '../../styles/colors.scss';

div.add-task-modal {
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & > .button {
    width: 90%;
    height: 32px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & > .name-input {
    width: 90%;

    & > div {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
