@import '../../styles/colors.scss';

div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $action-color;
  border-radius: 8px;
  font-weight: 700;
  transition: background-color 0.2s ease-in;
  transition: opacity 0.1s ease-in;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

div.button.disabled {
  background-color: #343434;
}
