@import '../../styles/colors.scss';

div.task-modal {
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid $accent-color;
  border-radius: 8px;
}
