@import '../styles/colors.scss';

.App {
  margin: 0;
  padding: 0;
  color: $text-color;

  & > header {
    width: 100%;
    height: 10vw;
    background-color: $header-color;
  }

  & > section.content {
    width: 100%;
    height: 90%;
    background-color: $background-color;
  }
}
