@import '../styles/colors.scss';

div.taskcard-wrapper{
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;

    .tooltip {
        position: relative;
        display: inline-block;
    }
      
    .tooltip .id {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }
    
    .tooltip .id::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
    
    .tooltip:hover .id {
        visibility: visible;
    }

    & > .id {
        font-size: clamp(8px, 10px, 12px);
        // float: left;
        // margin-top: 15%;
        // margin-left: 15%;


    }

    & > div.task-card{
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 10%;
        background-color: $task-bgcolor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,.3);
    
        & > .info-wrapper {
            & > h1{
                font-size: clamp(20px, 26px, 32px);
            }
        
            & > p {
                font-size: clamp(12px, 18px, 24px);
            }
            & > hr{
                width: 50%;
                border: 1px solid black;
            }
        }

        
        
        

        & > .actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: 10%;
            margin-left: 70%;

            & > .action img {
                width: 24px;
                height: 24px;
            }
        }
    }
    
    & > div.high_priority{
        grid-column: 1/3;
        background-color: $task-hiprio;
    }
    
    & > div.closed{
        background-color: $task-closed;
    }
}

