@import '../styles/colors.scss';

.header-card-wrapper{
    background-color: $base-color;
    padding: 10px;
    color: black;
    margin: 10px;
    border-radius: 6px;

    & > .header-card-text {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.25rem;
        margin-bottom: 10px;
        border-bottom: 3px solid black;
    }

    & > .header-card-actions{
        margin-top: 25px;
        width: fit-content;
        height: 24px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        & > .action > img {
            width: 24px;
            height: 24px;
        }
    }
}