@import '../styles/colors.scss';

div.header-wrapper{
    width: 5vw;
    height: 100%;
    transition: all .1s ease-in;
    overflow: hidden;
    position: absolute;
    z-index: 999;

    & > #toggle-sidebar {
        position: fixed;
        top: 0;
        left: 0;
    }

    & > div.header{
        display: none;
        width: 100%;
        height: 100%;
        background-color: #111111;
        // background-color: $accent-color;
        color: white;
        // padding: 15px;
        margin: 0;
    
        & > .header-create-task{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;

            & > #create-task{
                background-color: $accent-color;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                width: 90%;
                margin-top: 5px;
                border-radius: 5px;
                height: 35px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

            & > input {
                width: 90%;
            }
        }
    }

    & > div.header-open{
        display: block;
        width: inherit;
        position: fixed;
    }

    div.header-open + #toggle-sidebar {
        display: none;
    }

    & .wrong-validation{
        color: red;
    }
}

div.sidebar-open {
    width: 25vw;
    position: initial;
}
