@import '../../styles/colors.scss';

div.card-modal {
  position: initial;
  width: 90%;
  height: 90%;
  display: flex;
  margin: 5% auto;
  padding: 0;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  & > .button {
    width: 90%;
    height: 42px;
  }

  & > div.new-task-input {
    width: 100%;

    & > div {
      border: 0;
      border-bottom: 1px solid white;
      border-radius: 0;
      & > input {
        text-align: start;
      }
    }
  }

  & > div.desc {
    height: 50%;
    & > textarea {
      padding: 0;
      margin: 0;
      border: 0;
      width: 100%;
      height: 100%;
      font-size: 16px;
      background-color: $modal-color;
      resize: none;
      color: white;
      border-bottom: 1px solid white;

      &:focus {
        outline: none;
      }
    }
  }
}
